# PT Sopiak Satria Saga - Web Admin (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=PT Sopiak Satria Saga
NEXT_PUBLIC_APP_VERSION=2.0.0
